/* Body style */
body {
    font-family: Arial, sans-serif;
    background-image: url('img/texture2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Main container for buttons and pedals */
#main-container {
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

/* Container for the first row */
#top-row {
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    margin-bottom: 10px;
    margin-top: 50px; 
}

/* Container for the second row (pedals) */
#bottom-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 0px;
}

.pedal-container {
    display: flex;
    flex-direction: column; 
    width: auto; 
    margin: 20px; 
    position: relative;
    align-items: center;
    z-index: 1; /* To avoid unexpected superimpositions */
}

.pedal {
    background-color: #333; 
    padding: 20px; 
    border-radius: 15px; 
    height: 320px; 
    width: 160px;
    box-shadow: 5px 30px 10px rgba(0, 0, 0, 0.3);  
    cursor: grab;
    position: relative; 
    z-index: 0;
}

/* Class needed during drag movements */
.ghostClass {
    opacity: 0%;  /* To make the element invisible and not leave any shadow */
}

.block-3D {
    background-color: #000;
    position: absolute;
    width: 200px;
    height: 100px;
    border-radius: 15px;
    bottom: -30px;
    z-index: -1;
    pointer-events: none;
}

.block-side {
    background-color: #000;
    position: absolute;
    width: 220px;
    height: 50px;
    border-radius: 15px;
    bottom: 200px;
    z-index: -2;
    pointer-events: none;
}

/* Pedal syle */
/* Compressor */
#compressor-pedal {
    background: linear-gradient(to right bottom,#550868,#c801ff, #550868); 
    width: 240px; 
}
#block-3D-compressor {
    width: 280px;
    background-color: #550868
}
#block-side-compressor {
    width: 300px;  
    background-color: #2d0836
}

/* Overdrive */
#overdrive-pedal {
    background: linear-gradient(to right bottom, #13ad16, #a7f17b, #13ad16); 
}
#block-3D-overdrive {
    background-color: #53b153
}
#block-side-overdrive {
    background-color: #092909
}

/* Tremolo */
#tremolo-pedal {
    background: linear-gradient(to right bottom, #890641,#d44c8a,#890641 );
}
#block-3D-tremolo {
    background-color: #860941
}
#block-side-tremolo {
    background-color: #39091f
}

/* Reverb */
#reverb-pedal {
    background: linear-gradient(to right bottom, #cd5f11, #e8b15f, #cd5f11); 
}
#block-3D-reverb {
    background-color: #c67e46
}
#block-side-reverb {
    background-color: #482c14
}

/* Delay */
#delay-pedal {
    background: linear-gradient(to right bottom,#2f85af,#01fff2, #2f85af); 
    width: 240px; 
}
#block-3D-delay {
    width: 280px;
    background-color: #0f9ba0
}
#block-side-delay {
    width: 300px;
    background-color: #082c2d
}

/* Led Graphic */
.led {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: black;  /* Off LED color */
    margin-left: auto;
    margin-right: 0;
    display: block;
}

.led-on {
    background-color: white;
    box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.8);
}

.led-off {
    background-color: black;
    box-shadow: none;
}

.pedal-top h2 {
    text-align: center;
    color: #321122; 
    font-family: 'Oswald', sans-serif; 
    font-size: 25px; 
    font-weight: bold; 
    letter-spacing: 1px; 
    margin-bottom: 20px;
}

/* Wrapper for Knobs, flexbox to center it and dispose elements vertically */
.knob-container-wrapper {
    display: flex;
    flex-direction: row; 
    justify-content: center ;
    align-items: center;  
    width: 100%; 
    max-width: 600px; 
    margin: 0 auto; 
}

/* Style for each knob and relative value */
.knob-container {
    text-align: center;
    margin: 0px 11px;
}

.knob-value {
    font-size: 12px; 
    font-weight: bold; 
    color: #ffffff;
    margin-top: 10px; 
    font-family: 'Roboto', sans-serif; 
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2); 
    padding: 5px 12px; 
    background-color: #000000; 
    border-radius: 5px; 
    display: inline-block; 
    text-align: center; 
}

.button {
    position: absolute;
    bottom: 20px; 
    left: 50%;
    transform: translateX(-50%);  
}

/* Etiquette over the knobs */
.knob-label {
    font-size: 14px;   
    color: #1a2025;
    margin-bottom: 10px;
    display: block;
}

/* Menu and above buttons */
/* Audio input button */
#play-audio {
    padding: 15px 30px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background-color: #0d8f29; 
    color: white;
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease; 
}

/* Makes the buttn red even when you point it on with the cursor */
#play-audio.disconnect,
#play-audio.disconnect:hover {
    background-color: #b23030;  
    
}

/* Status */
#status {
    font-weight: bold;
    margin-top: 10px; 
    text-align: center;
}

/* Reset button */
#reset-pedals {
    background-color: #000000; 
    color: white; 
    font-weight: bold; 
    font-size: 20px; /* Aumentato rispetto al valore precedente */
    padding: 15px 30px; /* Aumentato per rendere il bottone più grande */
    border-radius: 10px; 
    border: none; 
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.3); 
    cursor: pointer; 
    transition: all 0.3s ease; 
}

/* Main Preset container */
#preset-container {
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    gap: 15px; 
    margin: 20px 0;
    padding: 10px; 
    background-color: #f9f9f9; 
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
}

/* Drop-down menu */
#preset-menu {
    font-size: 18px;
    padding: 10px 15px; 
    border-radius: 8px; 
    border: 1px solid #ccc;
    background-color: #fff; 
    color: #333; 
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1); 
    transition: border-color 0.3s, box-shadow 0.3s; 
}

#preset-menu:focus {
    border-color: #007bff; 
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); 
}

/* Save preset button */
#save-preset {
    background-color: #444; 
    color: white; 
    font-size: 16px;
    font-weight: bold; 
    padding: 10px 20px; 
    border-radius: 8px; 
    border: none; 
    cursor: pointer; 
    transition: background-color 0.3s, transform 0.2s; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

#save-preset:hover {
    background-color: #555; 
    transform: translateY(-2px); 
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3); 
}

#save-preset:active {
    background-color: #333;
    transform: translateY(0);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}


/* Save preset button */
#delete-preset {
    background-color: #b23030; 
    color: white; 
    font-size: 16px;
    font-weight: bold; 
    padding: 10px 20px; 
    border-radius: 8px; 
    border: none; 
    cursor: pointer; 
    transition: background-color 0.3s, transform 0.2s; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

#delete-preset:hover {
    background-color: #cb3030; 
    transform: translateY(-2px); 
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3); 
}

#delete-preset:active {
    background-color: #711b1b;
    transform: translateY(0);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Rename button */
#rename-preset {
    background-color: #444; 
    color: white; 
    font-weight: bold; 
    font-size: 16px; /* Dimensione del testo */
    padding: 10px 20px; /* Padding per il bottone */
    border-radius: 8px; 
    border: none; 
    box-shadow: 4px 8px 12px rgba(0, 0, 0, 0.3); 
    cursor: pointer; 
    transition: all 0.3s ease; 
    display: inline-block; /* Per garantire un layout regolare */
    text-align: center; /* Allinea il testo al centro */
    vertical-align: middle; /* Allinea il bottone verticalmente */
}

/* Hover effect */
#rename-preset:hover {
    background-color: #555; /* Cambia colore al passaggio del mouse */
    transform: translateY(-2px); /* Effetto spostamento del bottone */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3); /* Ombra più intensa */
}

/* Active effect */
#rename-preset:active {
    background-color: #333; /* Cambia colore al clic */
    transform: translateY(0); /* Rimuove lo spostamento */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Ombra più leggera */
}

#rec-button {
    background-color: rgb(228, 8, 8);
    color: white;
    font-weight: bold;
    border-radius: 50%; /* Makes the button circular */
    width: 50px; /* Adjust width */
    height: 50px; /* Adjust height */
    padding: 15px 13px;
    box-shadow: 4px 8px 12px rgba(0, 0, 0, 0.3); 
    border: none;
    cursor: pointer;
    font-size: 12px; /* Adjust font size */
    display: inline-block; /* Per garantire un layout regolare */
    text-align: center; /* Allinea il testo al centro */
    vertical-align: middle; /* Allinea il bottone verticalmente */
    transition: all 0.3s ease; 
}

#rec-button:hover{
    background-color: red; /* Cambia colore al passaggio del mouse */
    transform: translateY(-2px); /* Effetto spostamento del bottone */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3); /* Ombra più intensa */
}

#rec-button.record,
#rec-button.record:hover {
    background-color: rgb(0, 185, 0);  
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3); /* Ombra più intensa */
}